#framescontainer {
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
}

/* #template {
  display: flex;
  justify-content: space-between;
} */
#fourright {
  margin-left: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

#foursmall {
  display: flex;
  justify-content: space-between;
}

._1 {
  background-color: rgb(187, 185, 185);
  width: 150px;
  height: 200px;
  max-width: 150px;
  max-height: 200px;
}

._2 {
  background-color: rgb(187, 185, 185);
  width: 150px;
  height: 100px;
}

._3 {
  background-color: rgb(187, 185, 185);
  width: 70px;
  height: 70px;
}

._4 {
  background-color: rgb(187, 185, 185);
  width: 70px;
  height: 70px;
}

._5 {
  background-color: rgb(187, 185, 185);
  width: 70px;
  height: 70px;
}

.img-1 {
  width: 150px;
  height: 200px;
  max-width: 150px;
  max-height: 200px;
}

.img-2 {
  width: 150px;
  height: 100px;
  max-width: 150px;
  max-height: 100px;
}

.img-3 {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
}

.img-4 {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
}

.img-5 {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
}
