#gallerydisplay {
  height: 100%;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contentcontainer {
  height: 500px;
  width: 80%;
  border: 5px solid rgb(212, 163, 2);
  margin: 40px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1100px) {
  #gallerydisplay {
    height: 100vh;
  }

  #contentcontainer {
    width: 95%;
  }
}

@media only screen and (max-width: 1100px) {
  #gallerydisplay {
    height: 100%;
  }
}
