#gallerydisplay {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contentcontainer {
  height: 500px;
  width: 80%;
  border: 1px solid black;
  margin: 40px;
}

/* #displayform {
  width: 80%;
  display: flex;
  
}

.displayinput {
  margin: 10px;
  margin-bottom: 50px;
} */
