/* .formdivs {
  margin: 10px;
} */

#h1 {
  font-size: 50px;
}

#h2 {
  margin-bottom: 60px;
}

#formcontainer {
  border: 3px solid #ffbaba;
  border-radius: 10px;
  padding: 50px;
  width: 40%;
}

/* #gsform {
  
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

#gettingstarted {
  background-color: #f98c8c;
  color: white;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @media only screen and (max-width: 1100px) {
} */

@media only screen and (max-width: 550px) {
  #h1 {
    font-size: 30px;
  }

  #h2 {
    font-size: 18px;
    margin-bottom: 60px;
  }

  #gettingstarted {
    height: 100vh;
    padding: 30px 0 30px 0;
  }

  #formcontainer {
    padding: 20px;
    width: 65%;
  }
}
