#gsform {
  /* color: white; */
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.formdivs {
  margin: 10px;
}

#label {
  font-weight: bold;
}

#number_of_frames {
  background-color: #ffbaba;
  color: #f16262;
  padding: 3px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #f16262;
}

#wall_color {
  background-color: #ffbaba;
  border: 1px solid #f16262;
}

#submit {
  margin-bottom: 30px;
  background-color: #ffbaba;
  color: #f16262;
  border: 2px solid #f16262;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

/* @media only screen and (max-width: 1100px) {
} */

@media only screen and (max-width: 550px) {
  #label {
    font-size: 14px;
    font-weight: normal;
  }
  #submit {
    font-size: 12px;
  }
}
