a {
  text-decoration: none;
  color: #f07878;
}

a:visited {
  color: #f07878;
}

a:hover {
  color: #92dbe0;
}

#nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
